/* Better Badges by mr_miner#6969 */
@import url("https://mr-miner1.github.io/Better-Badges/src/badges.css");

:root {
    --badge-size: 28px; /*discord default = 18px, theme default = 22px;*/
    --badge-margin: 1.5px; /*discord default = 2px, theme default = 1.5px*/
    --badges-everywhere-size: 15px; /*default = 15px*/
}


/* Superior Discord Essential Code */


/* Reactions */


#app-mount .chat-3bRxxu .reaction-1hd86g {
    background-color: hsl(var(--hue), var(--saturation), calc(var(--lightness) + 11%));
	border-radius: 3px !important;
}
#app-mount .reactionInner-15NvIl {
	padding-top: 2px !important;
	padding-bottom: 2px !important;
	padding-left: 5px !important;
	padding-right: 5px !important;
}
#app-mount .reactionCount-2mvXRV {
	font-size: 15px;
}
#app-mount .reaction-1hd86g .emoji {
    width: 28px;
    height: 28px;
    margin: 0px 0px;
    min-width: auto;
    min-height: auto;
}
#app-mount .avatarSize-EXG1Is {
	border-radius: 100% !important;
    width: 24px !important;
    height: 24px !important;
}
#app-mount .avatar-1j43gH {
    margin-right: -8px;
}


/* Inbox */


.header-2-Imhb,
.header-ykumBX {
	justify-content: flex-end !important;
}
.button-1-5Aqk,
.secondary-dIudih
.size32-T2BHRe {
	margin-left: 4px;
	margin-right: 4px;
	border-radius: 2px !important;
	clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 8px;
}


/* Channels */


.wrapper-1ucjTd,
.wrapper-2jXpOf {
    padding: 0px !important;
}
.content-3at_AU,
.content-1x5b-n {
    height: 26px !important;
}
.layout-2DM8Md {
	height: 40px !important;
}
.name-uJV0GL {
	font-size: 14px !important;
}
.list-2luk8a {
    padding-left: 35px;
    padding-bottom: 4px;
}
.ownerIcon-2NH9FM {
    margin-left: 2px;
	margin-right: 8px;
}
.userSmall-YJ5L9_ {
    height: 30px;
}
.draggable-2E_4tJ {
    height: 30px;
}
.containerDefault-3tr_sE {
    padding-top: 12px;
}
.container-2ax-kl {
	font-size: 13px;
	font-weight: 700;
}

.UserDetails-mutualServers-mutualGuild {
    margin-right: 2px !important;
	border-radius: 4px !important;
}
.tooltipContent-bqVLWK {
	font-weight: 300;
}
.size24-1HlGux .avatarContainerMasked-PIJ-3L {
    margin-right: 0px !important;
	border-radius: 4px !important;
}


/* Border Radius */


.roleCircle-3xAZ1j,
.member-perms .member-perm .perm-circle,
.roleCircle-3DE8xJ {
    margin-left: 3px;
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 20%;
}
.badge-_BgAUQ {
    border-radius: 2px;
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 4px;
}
.artwork-1vrmJ_ {
    border-radius: 2px;
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 12px;
}
.attachment-2p5mHK,
.avatar-2daVqv,
.blob-2w7iIK {
    border-radius: 2px;
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 4px;
}
.barBase-1c2Rfb {
	clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 0);
    --cp-size: 8px;
}
.bar-30k2ka {
    border-radius: 1px;
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 6px;
}
.gameIcon-gg34Dz[style*="background-image"] {
    border-radius: 2px;
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 6px;
}
#app-mount .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
    border-radius: 2px;
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 6px;
}
#app-mount .botTag-2WPJ74 {
    border-radius: 1px;
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 0.275rem;
}
#app-mount .tab-2j5AEF {
    border-radius: 2px;
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 5px;
}
.mulitplePlaceholderUsername-pogq9I,
.placeholderAvatar-damqh6,
.placeholderUsername-2B_OA9,
.memberGroupsPlaceholder-3mwPub {
    border-radius: 2px;
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 4px;
}
.categoryItem-3zFJns .itemInner-3gVXMG {
    border-radius: 0;
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 7px;
}
.embedThumbnail-2Y84-K img,
.embedThumbnail-2Y84-K video {
    border-radius: 0;
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 10px;
}
.embedImage-2W1cML img,
.embedImage-2W1cML video,
.embedVideo-3nf0O9 img,
.embedVideo-3nf0O9 video {
    border-radius: 0;
}
#bd-pub-button {
    border-radius: 2px;
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 4px;
    height: 20px;
    line-height: 22px;
    font-size: 11px;
    transition: 200ms cubic-bezier(0, 0, 0.35, 1);
    transition-property: color, background-color, font-weight;
}
.badge-1JXQev {
    border-radius: 1px;
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 3px;
}
.icon-3Oovq9 {
    border-radius: 1px;
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 3px;
}
.live-vBWnV6 {
    border-radius: 2px;
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 4px;
}
.actionRed-gYn8D3 {
    border-radius: 2px;
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 6px;
}
.label-9FgsSa {
    border-radius: 2px;
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 4px;
}
#permissions-modal-wrapper .role-item {
    border-radius: 0 !important;
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 5px;
}
.frame-oXWS21 .innerFrame-8Hg64E {
    border-radius: 2px;
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 4px;
    height: 20px !important;
    line-height: 22px !important;
    transition: 200ms cubic-bezier(0, 0, 0.35, 1);
    transition-property: color, background-color, font-weight;
}
.detailsTooltip-G9hSSa .icon-hSL42R {
    border-radius: 0;
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 10%;
}
.coverWrapper-YAplwJ {
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 5px;
}
.background-1QDuV2 {
    border-radius: 2px;
    padding: 10px;
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 10px;
}
.profile-1eT9hT .avatarUploaderInner-3UNxY3 {
    border-radius: 0px;
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 16px;
}
.side-8zPYf6 .item-PXvHYJ,
#app-mount .ui-tab-bar-item {
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 5px;
    border-radius: 2px;
}
.accountBtn-2Nozo3 .accountBtnInner-sj5jLs {
    border-radius: 3px;
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 8px;
    background-color: rgba(var(--dark-background-color), calc(var(--other-transparency) / 1.2));
}
.sizeSmall-2cSMqn:not(.button-38aScr, .disabledButtonWrapper-3wH6-b) {
    border-radius: 1.5px;
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 7px;
}
.option-n0icdO {
    background: rgb(var(--dark-background-color));
    border-radius: 1.5px;
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 9px;
}
.lookFilled-1Gx00P.colorRed-1TFJan {
    border-radius: 2px;
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 6px;
}
.lookFilled-1Gx00P.colorGreen-29iAKY {
    border-radius: 2px;
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 6px;
}
.streamerModeEnabledBtn-2ZJ2eq {
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 6px;
    border-radius: 2px;
}
.group-1WdBVp {
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 6px;
}
.navItem-2a0SMo.activeNavItemPrimary-CRWnj6,
.navItem-2a0SMo.activeNavItemPrimary-CRWnj6:hover {
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 8px;
}
.cardLink-2yxLqu {
    border-radius: 0px;
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 16px;
}
.cardImage-1XRTvy {
    border-radius: 0px;
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 16px;
}
.scopeTimes-7s84Xf,
.scopeCheck-rUiN1D {
    border-radius: 2px;
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 4px;
}
.container-3auIfb {
    border-radius: 0px !important;
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 8px;
}
.slider-TkfMQL {
    border-radius: 0px !important;
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - 14px), calc(100% - 14px) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 12px;
}
.bd-switch-body {
    border-radius: 0px !important;
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 8px;
}
.bd-switch-slider {
    border-radius: 0px !important;
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - 14px), calc(100% - 14px) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 12px;
}
.fieldButton-27bJrp {
    border-radius: 0px !important;
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 6px;
}
.button-38aScr {
    border-radius: 0px !important;
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 6px;
}
.mask-1qbNWk {
    border-radius: 0px !important;
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 6px;
}
.search-36MZv- {
    border-radius: 0px !important;
    clip-path: polygon(var(--cp-size) 0, 100% 0, 100% calc(100% - var(--cp-size)), calc(100% - var(--cp-size)) 100%, 0 100%, 0 var(--cp-size));
    --cp-size: 6px;
}
.typing-2GQL18 {
	background-color: hsl(var(--hue), var(--saturation), calc(var(--lightness) + 2%)) !important;
}
.selected-2P5D_Z {
	background-color: hsl(var(--hue), var(--saturation), calc(var(--lightness) + 8%)) !important;
}


#app-mount .tooltipPrimary-1d1ph4 {
	--text-muted: var(--text-normal);
	background-color: hsl(var(--hue), var(--saturation), calc(var(--lightness) + 12%));
	border-radius: 4px !important;

}
#app-mount .tooltipPointer-3ZfirK {
  border-top-color: hsl(var(--hue), var(--saturation), calc(var(--lightness) + 12%));
}
.speaking-3dBKhR {
	box-shadow: inset 0 0 0 2px hsl(139,calc(var(--saturation-factor, 1)*47.3%),43.9%),inset 0 0 0 0px var(--background-secondary);
}
.avatarSmall-1PJoGO {
    width: 24px;
    height: 24px;
	border-radius: 50% !important;
}
.avatar-AvHqJA {
	border-radius: 100% !important;
	border: 0px !important;
}
.avatar-37jOim {
	border-radius: 50% !important;
	border: 0px !important;
}
.avatarHint-2A3RNb {
    top: 0px;
    left: 0px;
}
#app-mount .members-1998pB {
    background-color: hsl(var(--hue), var(--saturation), calc(var(--lightness) + 2%));
}
#app-mount .avatar-VxgULZ {
	border-radius: var(--avatar-shape) !important;
}
#app-mount .avatar-1BDn8e {
	border-radius: var(--avatar-shape) !important;
}
#app-mount .chat-3bRxxu {
	background-color: hsl(var(--hue), var(--saturation), calc(var(--lightness) + 2%));
}
#app-mount .chat-3bRxxu .message-2qnXI6:not(.mentioned-xhSam7):hover {
    background-color: hsl(var(--hue), var(--saturation), calc(var(--lightness) + 5%));
}
#app-mount .wrapper-3NnKdC {
	background-color: hsl(var(--hue), var(--saturation), calc(var(--lightness) + 2%));
}
#app-mount .chat-3bRxxu .channelTextArea-rNsIhG {
	border-top: 1px solid var(--sd-borders);
}
#app-mount .container-1r6BKw {
	background-color: hsl(var(--hue), var(--saturation), calc(var(--lightness) + 4%));
}
#app-mount .container-1r6BKw .searchBar-3dMhjb {
	background-color: hsl(var(--hue), var(--saturation), calc(var(--lightness) + 1%));
}
#app-mount .sidebar-2K8pFh .searchBar-6Kv8R2 {
  background-color: hsl(var(--hue), var(--saturation), calc(var(--lightness) + 4%));
  -webkit-box-shadow: none;
          box-shadow: none;
}
#app-mount .sidebar-2K8pFh .searchBarComponent-32dTOx {
    background-color: hsl(var(--hue), var(--saturation), calc(var(--lightness) + 4%));
}
#app-mount .sidebar-2K8pFh .panels-j1Uci_ {
    background-color: hsl(var(--hue), var(--saturation), calc(var(--lightness) + 7%));
}
#app-mount .sidebar-2K8pFh .header-2V-4Sw {
  background-color: hsl(var(--hue), var(--saturation), calc(var(--lightness) + 4%));
  -webkit-box-shadow: none;
          box-shadow: none;
}
#app-mount .wrapper-3NnKdC .expandedFolderBackground-1cujaW {
	background-color: hsl(var(--hue), var(--saturation), calc(var(--lightness) + 8%));
	border-radius: 50% !important;
}
#app-mount .wrapper-3NnKdC .folder-1hbNCn {
    background-color: hsl(var(--hue), var(--saturation), calc(var(--lightness) + 8%));
    border-radius: var(--server-shape) !important;
}

.theme-dark, .theme-light {
	--text-positive: rgb(var(--successcolor));
	--text-warning: rgb(var(--warningcolor));
	--text-danger: rgb(var(--dangercolor));
	--info-positive-background: rgba(var(--successcolor),.1);
	--info-positive-foreground: rgb(var(--successcolor));
	--info-positive-text: #fff;
	--info-warning-background: rgba(var(--warningcolor),.1);
	--info-warning-foreground: rgb(var(--warningcolor));
	--info-warning-text: #fff;
	--info-danger-background: rgba(var(--dangercolor),.1);
	--info-danger-foreground: rgb(var(--dangercolor));
	--info-danger-text: #fff;
	--status-positive-background: rgb(var(--successcolor));
	--status-positive-text: #fff;
	--status-warning-background: rgb(var(--warningcolor));
	--status-warning-text: #fff;
	--status-danger-background: rgb(var(--dangercolor));
	--status-danger-text: #fff;
	--header-primary: rgb(var(--textbrightest));
	--header-secondary: rgb(var(--textbright));
	--text-normal: rgb(var(--textbrighter));
	--text-muted: rgb(var(--textdarker));
	--channels-default: rgb(var(--textdark));
	--interactive-normal: rgb(var(--textbright));
	--interactive-hover: rgb(var(--textbrighter));
	--interactive-active: rgb(var(--textbrightest));
	--interactive-muted: rgb(var(--textdarkest));
	--background-primary: hsl(var(--hue), var(--saturation), calc(var(--lightness) + 2%));
	--background-secondary: hsl(var(--hue), var(--saturation), calc(var(--lightness) + 4%));
	--background-secondary-alt: hsl(var(--hue), var(--saturation), calc(var(--lightness) + 5%));
	--background-tertiary: hsl(var(--hue), var(--saturation), calc(var(--lightness) + 6%));
	--background-accent: hsl(var(--hue), var(--saturation), calc(var(--lightness) + 8%));
	--background-floating: hsl(var(--hue), var(--saturation), calc(var(--lightness) + 6%));
	--background-mobile-primary: hsl(var(--hue), var(--saturation), calc(var(--lightness) + 2%));
	--background-mobile-secondary: hsl(var(--hue), var(--saturation), calc(var(--lightness) + 4%));
	--background-modifier-hover: hsl(var(--hue), var(--saturation), calc(var(--lightness) + 8%));
	--background-modifier-active: hsl(var(--hue), var(--saturation), calc(var(--lightness) + 6%));
	--background-modifier-selected: hsl(var(--hue), var(--saturation), calc(var(--lightness) + 8%));
	--background-modifier-accent: rgba(var(--textdark),.1);
	--background-mentioned: rgba(var(--mentioncolor, --warningcolor),.05);
	--background-mentioned-hover: rgba(var(--mentioncolor, --warningcolor),.08);
	--background-mentioned-accent: rgb(var(--mentioncolor, --warningcolor));
	--background-message-hover: rgba(var(--backgroundfloating),.15);
	--scrollbar-thin-thumb: rgb(var(--backgroundtertiary));
	--scrollbar-thin-track: transparent;
	--scrollbar-auto-thumb: hsl(var(--hue), var(--saturation), calc(var(--lightness) + 8%));
	--scrollbar-auto-track: hsl(var(--hue), var(--saturation), calc(var(--lightness) + 4%));
	--scrollbar-auto-scrollbar-color-thumb: hsl(var(--hue), var(--saturation), calc(var(--lightness) + 8%));
	--scrollbar-auto-scrollbar-color-track: hsl(var(--hue), var(--saturation), calc(var(--lightness) + 4%));
	--elevation-stroke: 0 0 0 1px rgba(6,6,7,.08);
	--elevation-low: 0 1px 0 rgba(6,6,7,.1), 0 1.5px 0 rgba(6,6,7,.25), 0 2px 0 rgba(6,6,7,.025);
	--elevation-medium: 0 4px 4px rgba(0,0,0,.08);
	--elevation-high: 0 8px 16px rgba(0,0,0,.16);
	--logo-primary: rgb(var(--accentcolor));
	--focus-primary: rgb(var(--linkcolor));
	--activity-card-background: hsl(var(--hue), var(--saturation), calc(var(--lightness) + 6%));
	--textbox-markdown-syntax: rgb(var(--textdark));
	--deprecated-card-bg: hsl(var(--hue), var(--saturation), calc(var(--lightness) + 1%));
	--deprecated-card-editable-bg: hsl(var(--hue), var(--saturation), calc(var(--lightness) + 1%));
	--deprecated-store-bg: hsl(var(--hue), var(--saturation), calc(var(--lightness) + 2%));
	--deprecated-quickswitcher-input-background: hsl(var(--hue), var(--saturation), calc(var(--lightness) + 1%));
	--deprecated-quickswitcher-input-placeholder: rgb(var(--textdarker));
	--deprecated-text-input-bg: rgba(0,0,0,.1);
	--deprecated-text-input-border: rgba(0,0,0,.3);
	--deprecated-text-input-border-hover: #040405;
	--deprecated-text-input-border-disabled: #202225;
	--deprecated-text-input-prefix: rgb(var(--textbrighter));
}


/* Borders */


.guilds-1SWlCJ {
    border-right: 1px solid var(--sd-borders);
}
.container-1D34oG {
    border: 1px solid var(--sd-borders);
}
.chat-3bRxxu {
	border-left: 1px solid var(--sd-borders);
}
.sidebar-2K8pFh:not(div.searchBar-6Kv8R2) {
    border-top: 1px solid var(--sd-borders);
    border-bottom: 1px solid var(--sd-borders);
}
.platform-win .sidebar-2K8pFh {
    border-radius: 0px;
}
.applicationStore-1pNvnv {
    border: 1px solid var(--sd-borders)
}
.applicationStore-1pNvnv {
    background-color: hsl(var(--hue), var(--saturation), calc(var(--lightness) + 2%));
}
.contentRegion-3nDuYy {
    border: 1px solid var(--sd-borders);
}
.sidebarRegion-VFTUkN {
    border-bottom: 1px solid var(--sd-borders);
    border-top: 1px solid var(--sd-borders);
    border-left: 1px solid var(--sd-borders);
}
.accountProfileCard-1XCH88 {
    border: 1px solid var(--sd-borders);
}
.sidebar-2K8pFh {
    border-bottom: 1px solid var(--sd-borders);
    border-top: 1px solid var(--sd-borders);
}
.pageWrapper-1PgVDX {
    border: 1px solid var(--sd-borders);
}
.members-1998pB {
    border-left: 1px solid var(--sd-borders);
}


/* TEXT */


.description-1u9Qui {
	color: var(--header-secondary);
}
#app-mount h1.title-3KTIjF,
#app-mount h2.title-3KTIjF {
	color: var(--header-primary);
}
#app-mount h3.title-3KTIjF {
	color: var(--text-normal);
}
#app-mount h4.title-3KTIjF,
#app-mount h5.title-3KTIjF,
#app-mount h6.title-3KTIjF {
	color: var(--header-secondary);
}
#app-mount .text-GwUZgS,
#app-mount .title-2BxgL2 {
	color: var(--text-muted);
}
#app-mount .title-3pjxZQ {
	color: var(--header-secondary);
}
#app-mount .markdown-11q6EU {
	color: var(--text-normal);
}
#app-mount .markdown-11q6EU th {
	background-color: var(--background-tertiary);
	border-color: var(--interactive-muted);
	color: var(--header-primary);
}
#app-mount .markdown-11q6EU td {
	border-color: var(--interactive-muted);
}
#app-mount .markdown-11q6EU tr {
	border-color: var(--interactive-muted);
	color: var(--header-secondary);
}
#app-mount .markdown-11q6EU tr:nth-child(2n) {
	background-color: var(--background-secondary);
}
#app-mount .markdown-11q6EU .blockquote-2-nEPK {
	border-left-color: var(--interactive-muted);
}
#app-mount .markdown-11q6EU code {
	background-color: var(--background-secondary);
}
#app-mount .markdown-11q6EU .codeInline-1FHKS7 {
	color: var(--text-normal);
}
