/**
 * @name Superior Discord
 * @description Two painters using the same paint to form the same shapes doesn't steal each other artwork.
 * @author Eratas#6720 & Gibbu#1211
 * @version 3.1.0
 */

/* Superior Discord is Based on SimplyDark */
@import url("https://eratas.github.io/simplydark.css");

/* Superior Discord Essential code */
@import url("https://eratas.github.io/SuperiorDiscordEssentials.css");

/* Google Play Font */
@import url("https://fonts.googleapis.com/css?family=Play:400,700");

/* Discolored by Nyria - colored svgs */
@import url("https://nyri4.github.io/Discolored/main.css");

/* Classic Windows Titlebar */
@import url("https://discordstyles.github.io/Addons/windows-titlebar.css");

/* Settings Icons */
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css");

/* Server Columns */
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/ServerColumns/ServerColumns.css");

/* Radial Status */
@import url("https://discordstyles.github.io/RadialStatus/base.css");


/* Horizontal server bar on top, optionnal. */

/* @import url("https://discordstyles.github.io/HorizontalServerList/base.css"); */

/* Horizontal server bar on bottom, optionnal. */

/* @import url("https://discordstyles.github.io/Addons/bottomhsl.css"); */


:root {
	--hue:212; /* The color hue of Discord | Default: 212 */
	--saturation:30%; /* The saturation of the hue | Default: 30% */
	--lightness:16%; /* The lightness for the hue and saturation | Default: 16% */
	--accent:50,160,255; /* Custom color for blurple | Default: 50,160,255 for light blue, 255,150,30 for gold | Classic Blurple: 90,112,255 */
	--avatar-shape:10%; /* The border shape of avatars | Default: 10% */
	--server-shape:10%; /* The border shape of server icons | Default: 10% */
	--font: 'Play'; /* Custom Google Font Wahwee*/
	--settingsicons:1; /* Use Settings Icons in User/Server/Channel Settings: 1 = yes, 0 = no */

	--columns: 1; /* Amount of server columns | Default: 1 */
	--guildsize: 40; /* Server Icon Size for multiple columns | Default: 40 */
	--guildgap: 1; /* The top/bottom gap between servers in pixel | Default: 1 */
	--aligndms: 0; /* Direct Messages must be aligned in columns: 0 = no, 1 = yes | Default: 0 */

	--mentioncolor: 255,170,30; /* Default: 255,170,30 */
	--successcolor: 30,170,70; /* Default: 30,170,70 */
	--warningcolor: 255,170,30; /* Default: 255,170,30 */
	--dangercolor: 235,30,0; /* Default: 235,30,0 */
	--textbrightest: 245,250,255; /* Default: 245,250,255 */
	--textbrighter: 210,230,250; /* Default: 210,230,250 */
	--textbright: 200,220,240; /* Default: 200,220,240 */
	--textdark: 190,210,230; /* Default: 190,210,230 */
	--textdarker: 160,180,200; /* Default: 160,180,200 */
	--textdarkest: 140,160,180; /* Default: 140,160,180 */

	--HSL-server-icon-size: 40px;  /* Size of the server icons, if the server bar on top and bottom is enabled | Default: 40px */
	--HSL-server-spacing: 1px;  /* Spacing between each server icons, if the server bar on top and bottom is enabled | Default: 1px */

	--sd-borders: hsl(var(--hue), var(--saturation), calc(var(--lightness) + 7%)); /* Border lightness in % | Theme Default: hsl(var(--hue), var(--saturation), calc(var(--lightness) + 7%)) */

}
